footer.container.py-5
    .row
        .col-md-6
            nav.nav.footer.justify-content-center.justify-content-md-start
                ul.navbar-nav.col-6.text-center
                    li.nav-item.col-2
                        a.nav-link(aria-current='page' href='#/Electrodomesticos')
                            h5 Electrodomesticos
                    li.nav-item.col-2
                        a.nav-link(href='#/ropa') 
                            h5 Ropa
                    li.nav-item.col-2
                        a.nav-link(href='#/juguetes' tabindex='-1' aria-disabled='true') 
                            h5 Juguetes
                    li.nav-item.col-2
                        a#dropdown08.nav-link(href='#/computo') 
                            h5 Computo
        .col-md-6
            p.copyright.text-center.text-md-right
                h5 | Todos los Derechos Reservados 
                    span=actualYear 